.home {
    padding: 30px 0;

}

.home .header {
    color: white;
    background-color: #1A5276 ;
}

.home .form {

    background: rgb(255, 255, 255);
}

.home .form-label {
    font-weight: 800;
}

.home .header {
    padding: 10px;
}